.navbar-form-alt {
  /* Don't sit at the top of the page */
  margin-top: 8px;
  /* Fill the padding on the right */
  margin-right: -15px;
}

/* Top navbar extends the full screen width. */
#nav-container {
  padding-left: 0;
  padding-right: 0;
}

/* Eliminate navbar rounded corners and left/right borders. */
.navbar {
  border-radius: 0;
  border-left: 0;
  border-right: 0;
}
