<h3>Search results</h3>

<div ng-hide="search.query">
  <h4>You didn't provide a query!</h4>
</div>

<div ng-show="search.error">
  <h4>{{search.error}}</h4>
</div>

<div ng-hide="search.results">
  <h4>No results!</h4>
</div>

<div ng-show="search.results">
  <div ng-repeat="result in search.results">
    <a href="/file/{{result.Path}}">{{result.Path}}</a>
    <div ng-repeat="match in result.Matches">
      <prettify line="{{match.Start}}">{{match.Snippet}}</prettify>
    </div>
  </div>
</div>
